body {
  background-color: plum;
  color:white;
  font-size: 150%;
}

#header {
  font-family: 'Cookie', cursive;
  font-size:  200%
}

.image {
  border-style: dotted;
  border-width: 5px;
}

*{
  text-align: center;
}


